.App {
  text-align: center;
}

.App-logo {
  width: 90px;
}

.App-header {
  background-color: rgba(63,81,181,0.5);
  height: 82px;
  -webkit-box-shadow: 0 0 7px rgba(0,0,0,.5)!important;
  -moz-box-shadow: 0 0 7px rgba(0,0,0,.5)!important;
  box-shadow: 0 0 7px rgba(0,0,0,.5)!important;
  display: flex;
  margin-bottom: 20px;
  justify-content: flex-start;
}

.App-title {
  font-size: 1.5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

li {
  list-style: none
}
